<%= turbo_frame_tag 'messages' do %>
  <div class="flex flex-col gap-y-3">
    <%= render partial: 'message', collection: messages %>
  </div>
  <div class="flex justify-center my-8">
    <%= paginate messages, params: { action: 'index' } %>
  </div>
<% end %>
