  <div class="bg-gray-100">
    <div class="container mx-auto">
      <div class="mb-4 mx-1  border border-gray-400 rounded-lg">
        <div class="bg-blue-400 rounded-t-lg">
          <h3 class="text-2xl text-white">絞り込み</h3>
        </div>
        <%= render partial: 'search_bar' %>
      </div>
      <% if @messages.empty? %>
        <p class="text-center">投稿メッセージが存在しません。</p>
      <% end %>
      <%= render partial: 'message', collection: @messages %>
      <div class="flex justify-center my-8">
        <%= paginate @messages %>
      </div>
    </div>
  </div>
