<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>

<%= link_to t('users.shared.links.sign_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: 'text-blue-500 hover:underline' %>
