  <div class="bg-gray-100">
    <div class="container mx-auto">
      <div class="mb-4 mx-1 border border-gray-400 rounded-lg">
        <%= render partial: 'search_bar' %>
      </div>
      <%= render partial: 'message', collection: @messages %>
      <div class="flex justify-center my-8">
        <%= paginate @messages %>
      </div>
    </div>
  </div>
